[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# CM3D2Serialization011: Inaccessible Field in Deep-Serialized Type
dotnet_diagnostic.CM3D2Serialization011.severity = error

# CM3D2Serialization020: Missing Field Read / Write
dotnet_diagnostic.CM3D2Serialization020.severity = error

# CM3D2Serialization021: Field Read / Write out of Order
dotnet_diagnostic.CM3D2Serialization021.severity = error

# CM3D2Serialization040: Missing LengthDefinedBy Attribute
dotnet_diagnostic.CM3D2Serialization040.severity = error

# CM3D2Serialization041: Invalid LengthDefinedBy Attribute
dotnet_diagnostic.CM3D2Serialization041.severity = error

# CM3D2Serialization042: Wrong Length Set
dotnet_diagnostic.CM3D2Serialization042.severity = error

# CM3D2Serialization043: Wrong Length Validated
dotnet_diagnostic.CM3D2Serialization043.severity = error

# CM3D2Serialization010: Non-Serializable Field
dotnet_diagnostic.CM3D2Serialization010.severity = error
